@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px 0;
}
.jobs-list::-webkit-scrollbar{
    display: none;
}
.job-filters h2{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 3px green;
    color: transparent;
}